header{
	background-color: #1A1E22;
	text-align: center;
	font-weight: lighter;
	font-family: 'Raleway', sans-serif;
	top:0px;
	padding: 0;
}

html,body,div,span, applet, object, h1, ul,
li, section {
	margin: 0;
	padding: 0;
	border: 0;

}

body{
	background-color:#1B1E23;
}

/*.col-sm-10{
	height:150%;

}
*/
img.images{
	width: 10px;
}

h1{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	/*color: #C1C2C2;*/
}

h5{
	font-family: 'Raleway', sans-serif;
	text-align: center;
	color: #C1C2C2;
}

#Vince_do_work{
	color:#C1C2C2;
}

#Neel {
	height:7.4%;
	font-weight: bolder;
}

#BLOODYHEL{
	text-align: center;
	font-size:18px;
}

#ALEK{
	text-align: center;
}

#Scalesism{
	object-position: center;
	text-align: center;
		margin: 0 auto;
		display: block;
		width: 1000px;
}

li{
	text-align: center;
	font-size:18px;
}

footer {
	background-color: #40FFFF;
	padding: 0;
	font-weight: lighter;
	font-family: 'Raleway' , sans-serif;
}                                                                      

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-family: 'Raleway', sans-serif;

}

/* Float the list items side by side */
ul.topnav li {float: left;}
	
/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

div.images {

box-sizing: border-box;
}	
/* Social Media */
